/* The Modal (background) */
.modal {
    display: none !important; /* Hidden by default */
    position: fixed !important; /* Stay in place */
    z-index: 1 !important; /* Sit on top */
    padding-top: 100px !important; /* Location of the box */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    overflow: auto !important; /* Enable scroll if needed */
    background-color: rgb(0,0,0) !important; /* Fallback color */
    background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative !important;
    background-color: #fefefe !important;
    margin: auto !important;
    padding: 0 !important;
    border: 1px solid #888 !important;
    width: 80% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-animation-name: animatetop !important;
    -webkit-animation-duration: 0.4s !important;
    animation-name: animatetop !important;
    animation-duration: 0.4s !important;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white !important;
    float: right !important;
    font-size: 28px !important;
    font-weight: bold !important;
  }
  
  .close:hover,
  .close:focus {
    color: #000 !important;
    text-decoration: none !important;
    cursor: pointer !important;
  }
  
  .modal-header {
    text-align: center !important;
    padding: 2px 16px !important;
    background-color: #5cb85c !important;
    color: white !important;
  }
  
  .modal-body {padding: 2px 16px !important;}